@charset "UTF-8";

/*スマホの拡大縮小移動禁止*/
html{
    touch-action: manipulation;
}

/*全体に余白をつける*/
body {
    padding: 2vh;
}

/*画面が横長のとき*/
@media (orientation: landscape) {

    h1{
        font-size: 4vh;
    }

    .text{
        font-size: 2.5vh;
    }

}

/*画面が縦のとき*/
@media (orientation: portrait) {

    h1{
        font-size: 4vw;
    }

    .text{
        font-size: 2.5vw;
    }

}